.singlePost{
    flex: 9;
}
.singlePostContainer{
    padding: 20px;
}
.singlePostImg{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}
.singlePostTitle{
    font-family: "Lora" , serif;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    text-transform: capitalize;
}
.singlePostEditContainer{
    float: right;
    font-size: 18px;
}
.singlePostIcon{
    margin-left: 20px;
    cursor: pointer;
}
.singlePostIcon:first-child{
    color: teal;
}
.singlePostIcon:last-child {
    color: tomato;
}
.singlePostInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Varela Round" , sans-serif;
    font-size: 18px;
    color: #b39656;
}
.singlePostDesc{
    color: #666;
    font-size: 16px;
    line-height: 25px;
}
.singlePostDesc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
}
